<p id="notice"><%= notice %></p>

<h1>Listing Forms</h1>

<table>
  <thead>
    <tr>
      <th>Ф.И.О</th>
      <th>Образование</th>
      <th>Электронная почта</th>
      <th>Описание</th>
      <th>Фотография</th>
      <th>Специализация</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.forms.each do |form| %>
      <tr>
        <td><%= form.name %></td>
        <td><%= form.edu %></td>
        <td><%= form.email %></td>
        <td><%= form.desc %></td>
        <td><%= image_tag form.photo.url(:thumb) %></td>
        <td><%= form.special %></td>
        <td><%= link_to 'Show', form %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
        <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_form_path %>
